.bg{
    background-color: rgb(180, 161, 135) !important;
}
h1 {
    text-align: center;
    margin: 1.5rem;
}

.gallery_box_single{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caption-text {
    text-align: center;
}